body{
	font:14px Arial, Sans-Serif;
	font-weight:bold;
	padding:2em;
}
.board{
	display: inline-block;
	border: 3px solid #F4F4F4;
	border-bottom-color:#DDD;
	-webkit-box-shadow: 0 0 3px #EEE;
	-moz-box-shadow: 0 0 3px #EEE;
	box-shadow: 0 0 3px #EEE;
}
.board li{
	border:1px solid #F9F9F9;
	padding:1em;
	list-style-type: none;
	list-style-position: inside;
	float:left;
	width:20px;
	height:20px;
	text-align: center;
	vertical-align: middle;
	color:#FFF;
}
.board li:hover{
	background-color:#B7E1FF;
}
.row{
	clear:both;
}
ul{
	padding-left:0;
}
.cleared{
	background-color:#ADD1ED;
}
.border{
	background-color:#637889;
}
.mine{
	background: #FF631C url(assets/mine.png) no-repeat;
	background-position:center;
}